<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sampleMapKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1461BF1F1F67B06300FCA6AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1461BF331F67B06400FCA6AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1461BF3E1F67B06400FCA6AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
